<div class="nav-container">
  <div class="nav-container-one">
    <nav class="upperButtons">
      <button mat-button (click)="menuButton()">
        {{resourcer.Menu}}
      </button>
    </nav>
    <nav class="upperButtons">
      <button mat-button (click)="backButton()">
        {{resourcer.Back}}
      </button>
    </nav>
  </div>

  <div class="nav-container-two">
    <div class="login-text">
      <p>{{resourcer.LoggedAs}} {{loginService.login}}</p>
    </div>
    <div class="login-button">
      <nav class="upperButtons float-right">
        <button mat-button (click)="logoutButton()">
          {{resourcer.Logout}}
        </button>
      </nav>
    </div>
  </div>
</div>


<div class="title">
  <h1>
    {{titleLabel}} <br> {{mark}} {{model}}
  </h1>
</div>

<form class="example-form">
  <mat-form-field>
    <mat-select placeholder="{{resourcer.AdminAddCarBodyBody}}" (keyup)="isPressEnter($event)" [formControl]="bodyControl"
      required [(ngModel)]="carBody.name" (selectionChange)="changeBody($event.value)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let body of bodies" [value]="body.name">
        {{body.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="bodyControl.hasError('required')">{{resourcer.AdminAddCarBodyBodyInsert}}</mat-error>
    <mat-hint>{{bodyControl.value?.sound}}</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="{{resourcer.AdminAddCarBodyTrunkCapacity}}" (keyup)="isPressEnter($event)" [(ngModel)]="carBody.trunkCapacity"
      [formControl]="trunkCapacityControl" required name="2" type="number" min="1" onkeypress="return event.charCode >= 48"
      max="1000">
    <mat-error *ngIf="trunkCapacityControl.hasError('required')">{{resourcer.AdminAddCarBodyTrunkCapacityInsert}}</mat-error>
    <mat-hint>{{trunkCapacityControl.value?.sound}}</mat-hint>
  </mat-form-field>

  <p class="warning" [class.hidden]="isAllFields">{{resourcer.AllFields}}</p>

  <nav class="lowerButtons">
    <button mat-button (click)="approveBodyButton()">
      {{resourcer.Approve}}
    </button>
  </nav>
</form>