/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-size: cover;
    background-color: rgb(110, 110, 110);

}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: blue;
}

h1 {
    text-align: center;
     color: rgb(12, 12, 12);
   }

.lowerButtons button {
    float: none;
    padding: 10px 17px;
    font-size: 2em;
  }

  .warning{
    text-align: center;
    color: rgb(145, 18, 18);
    font-weight: bold;
  }
  
  .hidden {
    visibility: hidden;
  }

  .mat-error{
    color: rgb(189, 0, 0);
  }